<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>QAF Demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c792b5">  <td>18/08/08 11:45:52</td>   <td>0</td> <td title="&gt;&gt;TestNGTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.example.test.AddTravelRequestTest@1be2019a]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@366252104</td>   <td></td> </tr>
<tr bgcolor="c792b5">  <td>18/08/08 11:45:52</td>   <td>9</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.example.test.AddTravelRequestTest@1be2019a]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@366252104</td>   <td></td> </tr>
<tr bgcolor="c792b5">  <td>18/08/08 11:45:52</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.example.test.AddTravelRequestTest@1be2019a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@366252104</td>   <td></td> </tr>
<tr bgcolor="c792b5">  <td>18/08/08 11:45:52</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.example.test.AddTravelRequestTest@1be2019a]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@366252104</td>   <td></td> </tr>
<tr bgcolor="819b92">  <td>18/08/08 11:45:52</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTravelRequestTest.verifyTheAddTravelRequestPage()[pri:0, instance:com.qmetry.qaf.example.test.AddTravelRequestTest@1be2019a]">verifyTheAddTravelRequestPage</td> 
  <td>main@366252104</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>18/08/08 11:46:31</td>   <td>38864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.example.test.AddTravelRequestTest@1be2019a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@366252104</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>18/08/08 11:46:31</td>   <td>38865</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.example.test.AddTravelRequestTest@1be2019a]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@366252104</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>18/08/08 11:46:31</td>   <td>38866</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.example.test.AddTravelRequestTest@1be2019a]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@366252104</td>   <td></td> </tr>
<tr bgcolor="c792b5">  <td>18/08/08 11:46:31</td>   <td>39033</td> <td title="&lt;&lt;TestNGTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.example.test.AddTravelRequestTest@1be2019a]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@366252104</td>   <td></td> </tr>
</table>
