<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>wait until 'login.loading.loader' not to be visible</div><div  class="teststeppass"><span class="teststeppass-label">T </span>wait until 'login.loading.loader' not to be visible</div><div  class="teststeppass"><span class="teststeppass-label">T </span>wait until 'login.loading.loader' not to be visible</div><div  class="teststeppass"><span class="teststeppass-label">T </span>wait until 'login.loading.loader' not to be visible</div><div  class="teststeppass"><span class="teststeppass-label">T </span>wait until 'login.loading.loader' not to be visible</div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;true&gt;
     Actual: was &lt;true&gt; <a href="../img/VerifyTheAddTravelRequestPage_vva2tpdi9aia14497.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Verify Add Travel Request Page <a href="../img/VerifyTheAddTravelRequestPage_37ma2ir8rmmz14498.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;true&gt;
     Actual: was &lt;true&gt; <a href="../img/VerifyTheAddTravelRequestPage_s297izhtird714499.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Verify Add Travel Request Page <a href="../img/VerifyTheAddTravelRequestPage_18ywlu19v5ff314500.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;true&gt;
     Actual: was &lt;true&gt; <a href="../img/VerifyTheAddTravelRequestPage_1ogeoe2l2oih614501.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Verify Add Travel Request Page <a href="../img/VerifyTheAddTravelRequestPage_1ga7kb4cajfxk14502.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;true&gt;
     Actual: was &lt;true&gt; <a href="../img/VerifyTheAddTravelRequestPage_wmxxedsc6ujg14503.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Verify Add Travel Request Page <a href="../img/VerifyTheAddTravelRequestPage_52lrp2ubaotm14504.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;true&gt;
     Actual: was &lt;true&gt; <a href="../img/VerifyTheAddTravelRequestPage_3n9dzf2uubc14505.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Verify Add Travel Request Page <a href="../img/VerifyTheAddTravelRequestPage_zvup9mx0wa1m14506.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;true&gt;
     Actual: was &lt;true&gt; <a href="../img/VerifyTheAddTravelRequestPage_1n5oqjypt968n14507.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Verify Add Travel Request Page <a href="../img/VerifyTheAddTravelRequestPage_6wamn6l94vxq14508.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;true&gt;
     Actual: was &lt;true&gt; <a href="../img/VerifyTheAddTravelRequestPage_m04k4df0d9sk14509.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Verify Add Travel Request Page <a href="../img/VerifyTheAddTravelRequestPage_1ln5z0kyonnqg14510.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;true&gt;
     Actual: was &lt;true&gt; <a href="../img/VerifyTheAddTravelRequestPage_g2i2l77n793914511.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Verify Add Travel Request Page <a href="../img/VerifyTheAddTravelRequestPage_ogsw6b8yp5v214512.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;true&gt;
     Actual: was &lt;true&gt; <a href="../img/VerifyTheAddTravelRequestPage_4yhxvigyuuf414513.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Verify Add Travel Request Page <a href="../img/VerifyTheAddTravelRequestPage_1do6wuz8y0wsv14514.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;true&gt;
     Actual: was &lt;true&gt; <a href="../img/VerifyTheAddTravelRequestPage_1mlunmdjc7mgx14515.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Verify Add Travel Request Page <a href="../img/VerifyTheAddTravelRequestPage_45twh7ueuvb14516.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;true&gt;
     Actual: was &lt;true&gt; <a href="../img/VerifyTheAddTravelRequestPage_1dw12g4cuor4514517.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Verify Add Travel Request Page <a href="../img/VerifyTheAddTravelRequestPage_1swwexozp3ll714518.png" target="_blank">[View Screenshot]</a> </div><div  class="teststeppass"><span class="teststeppass-label">T </span>wait until 'login.loading.loader' not to be visible</div><div  class="teststeppass"><span class="teststeppass-label">T </span>wait until 'login.loading.loader' not to be visible</div></div></td></tr>
</table>