<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d62cb">  <td>18/08/13 15:46:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.example.test.AddTravelRequestTest@24b1d79b]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1054932644</td>   <td></td> </tr>
<tr bgcolor="9d62cb">  <td>18/08/13 15:46:21</td>   <td>-112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.example.test.AddTravelRequestTest@24b1d79b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1054932644</td>   <td></td> </tr>
<tr bgcolor="f8bee4">  <td>18/08/13 15:46:21</td>   <td>67</td> <td title="&lt;&lt;TestNGTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.example.test.AddTravelRequestTest@24b1d79b]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1054932644</td>   <td></td> </tr>
<tr bgcolor="9d62cb">  <td>18/08/13 15:46:21</td>   <td>1</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.example.test.AddTravelRequestTest@24b1d79b]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1054932644</td>   <td></td> </tr>
<tr bgcolor="f8bee4">  <td>18/08/13 15:45:43</td>   <td>-38232</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.example.test.AddTravelRequestTest@24b1d79b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1054932644</td>   <td></td> </tr>
<tr bgcolor="f8bee4">  <td>18/08/13 15:45:43</td>   <td>-38220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.example.test.AddTravelRequestTest@24b1d79b]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1054932644</td>   <td></td> </tr>
<tr bgcolor="f8bee4">  <td>18/08/13 15:45:43</td>   <td>-38261</td> <td title="&gt;&gt;TestNGTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.example.test.AddTravelRequestTest@24b1d79b]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1054932644</td>   <td></td> </tr>
<tr bgcolor="f8bee4">  <td>18/08/13 15:45:43</td>   <td>-38242</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.example.test.AddTravelRequestTest@24b1d79b]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1054932644</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>18/08/13 15:45:43</td>   <td>-38219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTravelRequestTest.verifyTheAddTravelRequestPage()[pri:0, instance:com.qmetry.qaf.example.test.AddTravelRequestTest@24b1d79b]">verifyTheAddTravelRequestPage</td> 
  <td>main@1054932644</td>   <td></td> </tr>
</table>
