<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>wait until 'login.loading.loader' not to be visible</div><div  class="teststeppass"><span class="teststeppass-label">T </span>wait until 'login.loading.loader' not to be visible</div><div  class="fail"><span class="fail-label">F </span>unknown error: Element <span class="tab_title m-r-40">...</span> is not clickable at point (1113, 102). Other element would receive the click: <div class="box_body loader ng-scope zindex" ng-show="loading" ng-class="{ 'zindex': loading}">...</div>
  (Session info: chrome=68.0.3440.106)
  (Driver info: chromedriver=2.40.565498 (ea082db3280dd6843ebfb08a625e3eb905c4f5ab),platform=Windows NT 10.0.17134 x86_64) (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 89 milliseconds
Build info: version: '2.53.0', revision: '35ae25b1534ae328c771e0856c93e187490ca824', time: '2016-03-15 10:43:46'
System info: host: 'ICPL12227', ip: '10.11.31.36', os.name: 'Windows 10', os.arch: 'amd64', os.version: '10.0', java.version: '1.8.0_172'
Driver info: com.qmetry.qaf.automation.ui.webdriver.QAFExtendedWebDriver
Capabilities [{applicationCacheEnabled=false, rotatable=false, mobileEmulationEnabled=false, networkConnectionEnabled=false, chrome={chromedriverVersion=2.40.565498 (ea082db3280dd6843ebfb08a625e3eb905c4f5ab), userDataDir=C:\Users\JAYASH~1.MOH\AppData\Local\Temp\scoped_dir6392_23729}, takesHeapSnapshot=true, pageLoadStrategy=normal, databaseEnabled=false, handlesAlerts=true, hasTouchScreen=false, version=68.0.3440.106, platform=XP, browserConnectionEnabled=false, nativeEvents=true, acceptSslCerts=false, acceptInsecureCerts=false, locationContextEnabled=true, webStorageEnabled=true, browserName=chrome, takesScreenshot=true, javascriptEnabled=true, cssSelectorsEnabled=true, setWindowRect=true, unexpectedAlertBehaviour=}]
Session ID: 3f7c007ff456de2ce7ce97b9c694293e <a href="../img/VerifyTheAddTravelRequestPage_1ni856fa3ezum50265.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
</table>